<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h4 class="mb-0">
                    <i class="bi bi-person"></i> Chi tiết Người dùng
                </h4>
            </div>
            <div class="card-body">
                {{#if user}}
                <div class="row">
                    <div class="col-md-6">
                        <table class="table table-bordered">
                            <tr>
                                <th width="40%">Tên:</th>
                                <td><strong>{{user.name}}</strong></td>
                            </tr>
                            <tr>
                                <th>Email:</th>
                                <td>{{user.email}}</td>
                            </tr>
                            <tr>
                                <th>Số điện thoại:</th>
                                <td>{{user.phone}}</td>
                            </tr>
                            <tr>
                                <th>Vai trò:</th>
                                <td>
                                    {{#if (eq user.role "admin")}}
                                        <span class="badge bg-danger">Admin</span>
                                    {{else if (eq user.role "owner")}}
                                        <span class="badge bg-warning">Chủ xe</span>
                                    {{else}}
                                        <span class="badge bg-info">Khách hàng</span>
                                    {{/if}}
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="mt-3">
                    <a href="/users" class="btn btn-secondary">
                        <i class="bi bi-arrow-left"></i> Quay lại
                    </a>
                    <a href="/users/{{user._id}}/edit" class="btn btn-warning">
                        <i class="bi bi-pencil"></i> Chỉnh sửa
                    </a>
                </div>
                {{else}}
                <div class="alert alert-danger">
                    Không tìm thấy thông tin người dùng.
                </div>
                {{/if}}
            </div>
        </div>
    </div>
</div>
